<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="greet">
        <div class="container">
            <div id="signup">
                <div class="signup-screen">
                    <div class="space-bot text-center">
                        <h1>Sign up</h1>
                        <div class="divider"></div>
                    </div>
                    <form class="form-register" method="post" name="register" novalidate>
                        <div class="input-field col s6">
                            <input id="txtUsername" name="txtUsername" type="text" class="validate" required>
                            <label for="txtUsername">Tên đăng nhập</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="txtPasscode" type="password" name="txtPasscode" ng-model="password" ng-minlength='6' class="validate" required>
                            <label for="txtPasscode">Mật khẩu</label>
                        </div>
                        <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
                        <div class="input-field col s6">
                            <input id="txtRepasscode" type="password" name="txtRepasscode" ng-model="repassword" class="validate" required>
                            <label for="txtRepasscode">Nhập lại mật khẩu</label>
                        </div>
                        <p class="alert alert-danger" ng-show="form-register.repassword.$modelValue != form-register.password.$modelValue">Your password is not match.</p>
                        <div class="input-field col s6">
                            <input id="txtFullname" name="txtFullname" type="text" class="validate" required>
                            <label for="txtFullname">Họ và tên</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="txtGender" name="txtGender" type='text' class="validate" />
                            <label for="txtGender">Giới tính</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="txtBirthday" name="txtBirthday" type='text' class="validate" />
                            <label for="txtBirthday">Ngày sinh</label>
                        </div>
                        <!--                         <div class="input-field col s6">
                            <md-input-container>
                                <label>Enter date</label>
                                <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                            </md-input-container>
                        </div> -->
                        <div class="input-field col s6">
                            <input id="txtAdress" name="txtAdress" type='text' class="validate" />
                            <label for="txtAdress">Địa chỉ</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="txtPhone" name="txtPhone" class="input-phone" type='text' phone-input ng-model="phoneVal" />
                            <label for="txtPhone">Số điện thoại</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="email" type="email" name="txtEmail" ng-model="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                        <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
                        <div class="space-top text-center">
                            <button id="btnAdd" name="btnAdd" ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                                <i class="material-icons left">done</i> Đăng ký
                            </button>
                            <button type="button" class="waves-effect waves-light btn cancel">
                                <i class="material-icons left">clear</i> Hủy bỏ
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./main.js" type="text/javascript" charset="utf-8"></script>

</html>
